<h2>Request Invitation</h2>
<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'form-vertical' }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.input :email, :required => true %>
  <%= f.input :opt_in, :label => false, :inline_label => 'Please send announcements.' %>
  <%= f.button :submit, 'Request Invitation', :class => 'btn-primary' %>
<% end %>
