<% content_for :head do %>
  <%= javascript_include_tag 'http://www.google.com/jsapi' %>
<% end %>

<div id="chart" style="width: 700px; height:240px;">
  <%= render_chart @chart, 'chart'%>
</div>

<h3>Users</h3>
<div class="span9">
  <div id="chart" style="width: 700px; height: 240px">
    <%= render_chart @chart, 'chart' %>
  </div>
  <br>
</div>
<div class="span9">
  <table class="datatable table table-bordered table-condensed">
    <thead>
      <tr>
        <th>Email</th>
        <th>Signed up</th>
      </tr>
    </thead>
    <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= link_to user.email, user %></td>
      <td><%= user.created_at.to_date %></td>
    </tr>
  <% end %>
  </tbody>
</table>
</div>
